.details-description-row > box {
  margin: 6px 12px;
  border-spacing: 3px;
}

.details-description-row textview {
  background: none;
}

.details-description-row .edit-icon {
  min-width: 24px;
  min-height: 24px;
  padding: 5px;
}
